@model Event

<h1>Delete Event</h1>
<hr />
<form method='post'>
	<div class="inputs">

		<div asp-validation-summary="All"></div>
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled />
		</div>
		<div>
			<label asp-for="Description"></label>
			<input asp-for="Description" disabled />
		</div>
		<div>
			<label asp-for="Date"></label>
			<input asp-for="Date" disabled />
		</div>
	</div>
	<div class="buttons">
		<button class="back-btn" asp-controller="Event" asp-action="Index">Back</button>
		<button>Delete</button>
	</div>
</form>

