@model EventVM

<h1>@(Model.Event.Id != 0 ? "Update" : "Create") Event</h1>
<hr />
@* enctype="multipart/form-data"  is enable the form to submit with a file input *@
<form method="post" enctype="multipart/form-data">
	<input asp-for="Event.Id" hidden/>
	<div class="inputs">
		@* asp-validation-summary can have different values
		1. ModelOnly= only allow validations from models (dataAnnotations)
		2. None = allow no validations
		3. All = allows all validations
		*@
		<div asp-validation-summary="All"></div>
		<div>
			<label asp-for="Event.Name"></label>
			<input asp-for="Event.Name" placeholder="Enter Event Name" />
			<span asp-validation-for="Event.Name"></span>
		</div>
		<div>
			<label asp-for="Event.Description"></label>
			<textarea asp-for="Event.Description" placeholder="Enter a description" ></textarea>
		</div>
		<div>
			<label asp-for="Event.Date"></label>
			<input asp-for="Event.Date" placeholder="Enter a date for this event" />
		</div>
		<div>
			<select asp-for="Event.CategoryId" asp-items="@Model.CategoryList" >
				<option disabled selected >--Select Category--</option>
			</select>
			<label asp-for="Event.CategoryId"></label>
			<span asp-validation-for="Event.CategoryId" ></span>
		</div>
		<div>
			<label asp-for="Event.ImageUrl"></label>
			<input type="file"  />
		</div>
	</div>
	<div class="buttons">
		<button class="back-btn" asp-controller="Event" asp-action="Index">Back</button>
		@if (Model.Event.Id != 0)
		{
			<button type="submit">Update</button>
		}
		else
		{
			<button type="submit">Create</button>
		}
			</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}