@model Category

<h1>Create Category</h1>
<hr />
<form method="post" >
	<div class="inputs">
		@* asp-validation-summary can have different values
			1. ModelOnly= only allow validations from models (dataAnnotations)
			2. None = allow no validations
			3. All = allows all validations 
		*@	
		<div asp-validation-summary="All"></div>
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" placeholder="Enter Category Name" />
			<span asp-validation-for="Name"></span>
		</div>
		<div>
			<label asp-for="DisplayOrder"></label>
			<input asp-for="DisplayOrder" placeholder="Enter a number" />
			<span asp-validation-for="DisplayOrder"></span>
		</div>

	</div>
	<div class="buttons">
		<button class="back-btn" asp-controller="Category" asp-action="Index">Back</button>
		<button >Create</button>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}