@model List<Category>
<div style="display:flex ; justify-content:space-between; align-content:center">
	<h1>Category List</h1>
	<a asp-action="Create" asp-controller="Category" class="btn" style="box-shadow: 0 0 5px grey; padding-top:1%;">
		Add category
	</a>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Category Name</th>
			<th>Display Order!</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model)
		{
			<tr>
				<td>@obj.Name</td>
				<td>@obj.DisplayOrder</td>
			</tr>
		}
	</tbody>
</table> 